.multi-search {
  width: 360px;
  display: inline-block;
}

.select-options {
  list-style: none;
  padding: 0;
  position: relative;
  margin: 10px -8px;
}

.select-option {
  cursor: pointer;
  text-align: left;
  padding: 4px 24px;
}

.select-option.selected::before {
  content: '\2713';
  position: absolute;
  left: 8px;
}

.select-option:hover {
  background-color: #43b0de;
  color: white;
}

.select-input {
  width: 100%;
  padding: 8px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #ececec;
  transition: border 0.2s ease;
  box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.2);
}

.cool-input:focus {
  border: 1px solid green;
}

.selected-tags {
  padding: 0;
  list-style: none;
  text-align: left;
}

.selected-tag {
  background-color: gray;
  color: white;
  padding: 4px 8px;
  font-size: 14px;
  display: inline-block;
  margin: 2px;
  border-radius: 2px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  min-width: 30px;
  text-align: center;
}

.selected-tag:hover {
  background-color: #cb2431;
}

.selected-tags:empty {
  margin: 0;
}

.select-options:empty {
  margin: 0;
}
